@import '../scss/framework';

$block: 'submission-form';

.#{$block} {
  display: block;
  float: left;
  width: 100%;

  &__section {
    display: block;
    float: left;
    width: 100%;

    &--padded {
      padding: 1rem;
    }
  }
  &__text {
    font-weight: 600;
    font-size: 1.15rem;

  }

  &--orange {
    background: $orange;
    color: white;

    &:disabled {
      opacity: 0.5;
    }
  }

}