@import '../scss/framework';

$block: 'delivery-page';

.#{$block} {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  
  &__sidebar {
    display: block;
    float: left;
    width: 20%;
    height: 100%;
  }

  &__google-map {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
  }

}